.header {
}
.header-info {
}
.logo {
}
.call-us {
}
.header-tel {
}
.nav {
}
.header-nav-list {
}
.header-list {
}
.header-item {
}
.header-link {
  color: #555555;
}
.header-soc-list-container {
}
.header-soc-list {
}
.header-soc-item {
}
.header-soc-link {
}
.reservation-btn {
  background-color: #7a9ca5;
  color: #ffffff;
  border: none;
}

/* WELCOME */
.welcome {
}
.welcome-pre-title {
  color: #5c8692;
}
.welcome-main-title {
}
.welcome-after-title {
}
.welcome-img {
}
.services {
}
.services-container {
}
.services-list {
}
.services-item {
}
.services-img {
}
.services-title {
}
.services-after-title {
}
.services-btn {
}
.about-us {
}
.about-ut-container {
}
.about-us-pretitle {
}
.about-us-title {
}
.about-us-after-title {
}
.about-us-cards {
}
.about-us-cards-list {
}
.about-us-cards-item {
}
.about-us-cards-img {
}
.about-us-cards-title {
}
