/* GLOBAL STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --accent-color: #5c8692;
  --text-color: #555555;
  --title-color: #141414;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--text-color);
  font-size: 18px;
  background-color: #ffffff;
  line-height: 1.65;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #141414;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.pre-title {
  margin-bottom: 9px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: var(--accent-color);
  text-transform: uppercase;
}

.container {
  width: 1920px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */ */
}

.no-scroll {
  overflow: hidden;
}

button {
  cursor: pointer;
}

/* BUTTON ANIMATION */
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/* HEADER */
.header > .container {
  width: 1800px;
  display: flex;
}
.header {
  padding: 38px 60px 38px 60px;
}
.header-info {
}
.logo {
}
.call-us {
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--title-color);
}
.header-tel {
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--title-color);
}
.nav {
}
.header-nav-list {
}
.header-list {
}
.header-item {
}
.header-link {
  line-height: 1.25px;
}
.header-soc-list-container {
}
.header-soc-list {
}
.header-soc-item {
}
.header-soc-link {
}

.reservation-btn {
  padding: 24px 36px 24px 36px;
  background-color: #7a9ca5;
  color: #ffffff;
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.reservation-btn:hover,
.reservation-btn:focus {
  animation: bounce 1s;
  color: var(--title-color);
  background-color: transparent;
  border: 2px solid var(--accent-color);
}
/* WELCOME */

.welcome > .container {
  width: 1132px;
}
.welcome {
  padding: 235px 428px 235px 360px;
}
.welcome-pre-title {
  color: var(--accent-color);
}
.welcome-main-title {
}
.welcome-after-title {
  margin-top: 24px;
  color: #555555;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.7;
}
.reservation-btn {
  margin-top: 34px;
  background-color: var(--accent-color);
  color: #ffffff;
}
.welcome-img {
}

/* SERVICES SECTION */
.services > .container {
  width: 1200px;
}
.services {
  padding: 145px 360px 145px 360px;
}
.services-container {
}
.services-list {
}
.services-item {
}
.services-img {
}
.services-title {
  margin-top: 26px;
  color: #141414;
}
.services-after-title {
  margin-top: 11px;
}
.services-btn {
  margin-top: 30px;
  padding: 18px 43px 18px 43px;
  color: var(--title-color);
  background-color: transparent;
  border: 2px solid var(--accent-color);
}
/* ABOUT US SECTION */
.about-us > .container {
  width: 1200px;
}
.about-us {
  padding: 145px 360px 145px 360px;
}
.about-us-container {
}
.about-us-pretitle {
  color: var(--accent-color);
}
.about-us-title {
  color: #141414;
}
.about-us-after-title {
  margin-top: 16px;
  line-height: 1.65;
}
.about-us-cards {
  margin-top: 37px;
}
.about-us-cards-list {
}
.about-us-cards-item {
}
.about-us-cards-img {
}
.about-us-cards-title {
  margin-top: 16px;
  font-family: "Playfair Display", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--title-color);
}

/* OUR SERVICES */
.our-services > .container {
  width: 1198px;
}
.our-services {
  padding: 145px 360px 145px 360px;
}
.services-photo-container {
}
.services-pre-title {
  color: var(--accent-color);
}
.our-services-item {
}
.services-photo {
}
.our-services-title {
  width: 659px;
}
.services-name {
  font-family: "Playfair Display", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--title-color);
}
.accent {
  font-family: "Playfair Display", sans-serif;
  font-size: 22px;

  line-height: 1.3;
  letter-spacing: 0.05em;
  text-align: left;
  color: var(--text-color);
}
.services-price {
  color: var(--title-color);
}

.our-services-after-title {
  color: var(--text-color);
  line-height: 1.65;
  letter-spacing: 0.02em;
}

.services-btn {
  font-size: 14px;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: 0.12em;
  color: var(--title-color);
  border: 2px solid var(--accent-colors);
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
}

.services-btn:hover,
.services-btn:focus {
  background-color: #7a9ca5;
  color: #ffffff;
  border: none;
}
/* FEEDBACK SECTION */
.feedback > .container {
  width: 1200px;
}
.feedback {
  padding: 145px 360px 145px 360px;
}
.feedback-title {
  margin-top: 2px;
}
.feedback-pre-title {
}

.feedback-list {
}
.feedback-item {
}
.feedback-text {
  font-size: 19px;
  line-height: 1.8;
  text-align: left;
}
.feedback-img {
}
/* BENEFITS SECTION */
.benefits > .container {
  width: 1200px;
}
.benefits {
  padding: 145px 360px 145px 360px;
}
.benefits-pre-title {
}
.benefits-title {
}
.benefits-list {
}
.benefits-img {
}
.benefits-title-cards {
  font-size: 26px;
  line-height: 1.2;
}
.benefits-text {
  line-height: 1.65;
  letter-spacing: 0.02em;
}

/* DISCOUNT SECTION */
.discount > .container {
  width: 1199px;
}
.discount {
  padding: 145px 360px 145px 360px;
}
.discount-pre-title {
}
.discount-title {
}
.discount-after-title {
  line-height: 1.75;
}
.discount-list {
}
.discount-item {
}
.discount-contact {
  font-size: 14px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.discount-contact-info {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
}
.discount-card {
  background-color: #1e2c30;
}
.discount-card-pre-title {
  font-size: 15px;
  font-weight: 800;
  line-height: 1.75;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;
}
.discount-card-count {
}
.discount-card-after-title {
  font-weight: 800;
  line-height: 1.75;
  letter-spacing: 0.02em;
  color: #ffffff;
}
/* OUR BLOG SECTION */
.our-blog > .container {
  width: 1200px;
}
.our-blog {
  padding: 145px 360px 145px 360px;
}
.blog-pre-title {
}
.blog-title {
}
.blog-list {
}
.blog-item {
}
.blog-img {
}
.blog-card-pre-title {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.06em;
  color: var(--accent-color);
}
.blog-card-title {
  font-family: "Playfair Display", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
.blog-card-after-title {
  line-height: 1.55;
  letter-spacing: 0.02em;
  text-align: left;
}
.blog-card-btn {
  padding: 24px 41px 24px 41px;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: 0.12em;
  color: var(--title-color);
  text-align: center;
  border: 2px solid var(--accent-color);
  background-color: transparent;
}

.blog-card-btn:hover,
.blog-card-btn:focus {
  background-color: #7a9ca5;
  color: #ffffff;
  border: none;
}
/* FOOTER */
.footer > .container {
  width: 1200px;
}
.footer {
  padding: 65px 360px 65px 360px;
}
.footer-so-media-list {
}
.footer-so-media-item {
}
